<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel X bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Admin Panel X bot</h1>
        <button onclick="window.location.href='/settings'">Settings</button>
        <button onclick="window.location.href='/posts'">Posts</button>
        <!-- <button onclick="window.location.href='/commenting'">Comments</button> -->
    </div>
</body>

</html>